body, html {
  height: 100%;
  margin: 0;
}

.bgd-img{
  background-image: url(images/seattle-3429902_1280.jpg) ;
  background-size: cover;
}
.dark{
  background-image: linear-gradient(180deg,rgb(181, 181, 181) rgb(181, 181, 181, 1));
}

.logo{
  margin: -30px 0px -40px -20px;
}

.squatch{
  width:100px;
  margin: -40px -40px -40px 0px;
}

.img-fit{
  max-width: auto;
  height: auto;
  object-fit: fill;
}

.fa-paper-plane{
  font-size: xx-large;
}

.travel{
  color:#00c6ff;
}
.washington{
  color:#7dff5a;
}

